.boxes {
  .row {
    padding: 0 15px;
  }
  &-left {
    border-radius: 4px 0 0 4px;
    @include media-max(991) {
      border-radius: 0 0 4px 4px;
      min-height: 406px !important;
    }
    &__title {
      margin-bottom: 33px;
      line-height: 45px;
      @include media-max(991) {
        margin-bottom: 18px;
        line-height: 35px;
        font-size: 30px !important;
      }
    }
    p {
      line-height: 24px;
    }
  }
  &-right {
    border-radius: 0 4px 4px 0;
    @include media-max(991) {
      border-radius: 4px 4px 0 0;
      min-height: 253px !important;
    }
    a {
      img {
        width: 100%;
      }
    }
  }
  &-left,
  &-right {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    min-height: 592px;
    padding: 20px 50px;
    @include media-max(991) {
      padding: 20px 35px;
    }
  }
}