.promo-block {
  padding: 120px 0 70px;
  @include media-max(991) {
    padding: 65px 0 70px;
  }
  .container {
    & > * {
      max-width: 800px;
      margin: 0 auto;
    }
  }
  &__title {
    margin-bottom: 32px !important;
    @include media-max(991) {
      font-size: 30px !important;
    }
  }
  p {
    line-height: 24px;
  }
  &__btn {
    margin-top: 40px !important;
    padding: 16px 60px;
    @include media-max(991) {
      margin-top: 34px !important;
    }
    span {
      display: block;
      padding-top: 2px;
    }
    &:hover {
      color: #FFFFFF;
      background: #b17638;
    }
  }
}