.slick-prev {
  width: 60px;
  height: 70px;
  left: 6px;
  z-index: 1;
  &::before {
    content: url("../images/dist/icons/icon_prev.svg");
  }
}

.slick-next {
  width: 60px;
  height: 70px;
  right: 6px;
  z-index: 1;
  &::before {
    content: url("../images/dist/icons/icon_next.svg");
  }
}

.slick-dots {
  bottom: 14px;
  @include media-max(575) {
    bottom: 6px;
  }
}

.slick-dots {
  li {
    margin: 0;
    @include media-max(575) {
      width: 12px;
    }
    &.slick-active {
      button {
        background: #FFFFFF;
      }
    }
    button {
      width: 8px;
      height: 8px;
      background: transparent;
      padding: 3px;
      border-radius: 50%;
      border: 1px solid #FFFFFF;
      @include media-max(575) {
        max-width: 5.5px;
        max-height: 5.5px;
        padding: 2px;
      }
      &::before {
        display: none;
      }
    }
  }
}

