.homepage {
  .welcome {
    margin: 75px 0 88px;
  }
  .navigation {
    @include media-max(991) {
      margin-top: 27px;
    }
  }
  .banner {
    margin-top: 40px;
    @include media-max(991) {
      margin-top: 22px;
    }
  }
  .brands {
    margin: 26px 0 103px;
    @include media-max(991) {
      margin: 15px 0 30px;
    }
  }
}